@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

@font-face {
  font-family: 'Black Han Sans';
  src: url('/fonts/BlackHanSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Prevent scrolling on the entire page by default */
html, body {
    overflow: hidden !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
}

/* Allow scrolling only on the landing page */
.landing-page {
    overflow: visible !important;
    height: auto !important;
    position: relative !important;
}

.landing-page html,
.landing-page body {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: auto !important;
    position: relative !important;
}